:root {
  --primary-color: hwb(160 29% 66%);
  --background-color: rgb(255, 250, 230);
  --accent-color: rgb(244, 206, 20);
  --font-body: 16px;
  --font-domine: Domine, serif;
  --font-cabin: Cabin, sans-serif;

  font-size: var(--font-body);
  font-family: var(--font-cabin);
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: top;
  align-items: center;
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  color: var(--primary-color);
  background-color: var(--background-color);
}
a,
a:focus {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: var(--accent-color);
}
header,
nav {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
}

header>img {
  width: 230px;
  padding: 0.4rem;
  margin: auto;
}
nav {
  top: 70px;
  background-color: var(--primary-color);
}
nav>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  color: var(--background-color);
  background-color: var(--secondary-color);
  width: 100%;
  padding: 5px 0;
  list-style: none;
}
main {
  margin: 115px 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

#hero {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}
#hero-img {
  max-height: 80vh;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
}
span#hero-span {
  color: rgb(244, 244, 95);
}
.hero-text {
  position: absolute;
  left: 0;
  margin: auto 0 auto 4vw;
  z-index: 2;
  width: calc(60% - 2vw);
  text-shadow: 1px 1px 3px  black;
  opacity: 0;
  animation: fade-in 0.5s forwards ease-in;
}
.hero-text>h1{
  font-family: var(--font-domine);
  font-size: clamp(1.2rem, 3.5vw, 56px);
  font-weight: 400;
  line-height: 1.3;
  color: var(--background-color);
}
#hero-cta {
  color: var(--background-color);
  font: inherit;
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  background-color: transparent;
  margin-top: 0.5rem;
  border: 3px solid var(--background-color);
  border-radius: 4px;
  outline: 0;
  padding: 0.9vw 1.8vw;
}
#hero-cta:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@keyframes fade-in {
  from { opacity: 0}
  to { opacity: 1}
}
.cards,
footer{
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  width: 100%;
  margin-bottom: 1rem;
}
.cards>article {
  flex: 1;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
  text-align: left;
}
.cards img {
  width: 100%;
  border-radius: 5px;
}
.cards article:hover {
  animation: scale-card 0.15s forwards ease-in;
}
@keyframes scale-card {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(105%);
  }
}
.cards h3 {
  font-family: var(--font-domine);
  font-size: 1.1rem;
  font-weight: 800;
  margin: 0.7rem 0 0.5rem;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--primary-color);
}
footer img {
  height: 30px;
}
footer>div {
  display: flex;
  flex: 1;
  justify-content: start;
}
footer>div:last-child {
  font-size: 0.9rem;
  flex-direction: column;
  text-align: right;
  align-self: center;
}
@media (max-width: 600px) {
  :root {
    --font-body: 14px;
    min-width: 330px;
    overflow: scroll;
  }
  body {
    width: 95%;
  }
  nav {
    font-size: 0.9rem;
    font-weight: 400;
  }
  button {
    border-width: 2px;
  }
}