:root {
  --primary-color: rgb(26, 26, 26);
  --background-color: rgb(255, 249, 224);
  --hero-background: rgba(26, 26, 26, 0.5);
  --font-body: 16px;
  --font-frankruhl: 'Frank Ruhl Libre', serif;
  --font-cabin: Cabin, sans-serif;

  font-size: var(--font-body);
  font-family: var(--font-cabin);
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--background-color);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: top;
  align-items: center;
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

a,
a:focus {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: #F4CE14;
}
ul {
}
img[src^="logos"] {
  max-height: 72px;
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  background-color: var(--background-color);
  z-index: 10;
}
header>img {
  width: 263.7px;
  text-align: center;
  margin: 0.4rem auto;
}
nav>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  color: #495E57;
  width: 100%;
  border-top: 1px solid #495E57;
  border-bottom: 1px solid #495E57;
  padding: 2px 0;
  list-style: none;
}
main {
  margin-top: 110px;
}

#hero {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#hero-img {
  width: 100%;
  margin: -25px auto;
  filter:brightness(70%);
}
span#hero-span {
  color: rgb(244, 244, 95);
  position: relative;
}
#hero>h1 {
  position: absolute;
  margin: auto 0 auto 4.5vw;
  z-index: 2;
  font-family: var(--font-frankruhl);
  font-size: clamp(16px, 3.5vw, 56px);
  font-weight: 500;
  line-height: 1.2;
  width: calc(60% - 2vw);
  color: var(--background-color);
  text-shadow: 1px 1px 3px  black;
}
