:root {
  --primary-color: rgb(73, 94, 87);
  --background-color: #fff5cd;
  --accent-color: rgb(244, 206, 20);
  --font-body: 16px;
  --font-frankruhl: 'Frank Ruhl Libre', serif;
  --font-cabin: Cabin, sans-serif;

  font-size: var(--font-body);
  font-family: var(--font-cabin);
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: top;
  align-items: center;
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  color: var(--primary-color);
  background-color: var(--background-color);
}

a,
a:focus {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: var(--accent-color);
}
header,
nav {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
}
header>img {
  max-height: 60px;
  width: 220px;
  margin: 0.4rem auto;
}
nav {
  top: 72px;
  background-color: var(--primary-color);
}
nav>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  color: var(--background-color);
  background-color: var(--secondary-color);
  width: 100%;
  padding: 5px 0;
  list-style: none;
}
main {
  margin: 115px 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

#hero {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}
#hero-img {
  max-height: 80vh;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
}
span#hero-span {
  color: rgb(244, 244, 95);
}
#hero>h1 {
  position: absolute;
  left: 0;
  margin: auto 0 auto 4vw;
  z-index: 2;
  font-family: var(--font-frankruhl);
  font-size: clamp(1.2rem, 3.5vw, 56px);
  font-weight: 500;
  line-height: 1.2;
  width: calc(60% - 2vw);
  color: var(--background-color);
  text-shadow: 1px 1px 3px  black;
}
.cards,
footer{
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  width: 100%;
  margin-bottom: 1rem;
}
.cards>article {
  flex: 1;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
  text-align: left;
}
.cards img {
  width: 100%;
}
.cards h3 {
  font-family: var(--font-frankruhl);
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 0 1px 1px var(--primary-color);
  margin: 0.7rem 0 0.3rem;
}
footer img {
  height: 30px;
}
footer>div {
  display: flex;
  flex: 1;
  justify-content: start;
}
footer>div:last-child {
  font-size: 0.9rem;
  flex-direction: column;
  text-align: right;
  align-self: center;
}
@media (max-width: 600px) {
  :root {
    --font-body: 14px;
    min-width: 330px;
    overflow: scroll;
  }
  body {
    width: 95%;
  }
  nav {
    font-size: 0.9rem;
    font-weight: 400;
  }
}